/* for debugging */
* {
  /*border: 1px solid red; */
}

/* GENERAL STYLES */

body {
  margin: 0;
  padding: 0;
  background-color: #f5f2f0;
  font-family: 'Open Sans', sans-serif;
  font-size: .8em;
}

.offset {  /* class for text meant only for accessibility devices */
  position: absolute;
  top: -1000px;
}

.wrapper {
  width: 80%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 50px;
  background-color: #fff;
  box-shadow: 0 0 15px #CACACA;
}

/* HEADER */

nav {
  padding: 0;
}

nav.top-nav {
  margin: 30px auto;
  background-color: #4f4f4f;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#585858+0,4f4e4e+47,454444+100 */
  background: #585858; /* Old browsers */
  background: -moz-linear-gradient(top,  #585858 0%, #4f4e4e 47%, #454444 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #585858 0%,#4f4e4e 47%,#454444 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #585858 0%,#4f4e4e 47%,#454444 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#585858', endColorstr='#454444',GradientType=0 ); /* IE6-9 */
  text-shadow: 1px 1px black;
}

nav.top-nav>a {
  display: inline-block;
  padding: 10px 40px;
  border: 1px solid #4f4f4f;
  color: #C7C7C7;
  font-size: 1.1em;
  text-decoration: none;
}

.top-nav > a:hover {
  border-left: 1px solid #717171;
  border-right: 1px solid #717171;
  background-color: #373737;
}

/* MAIN AREA */

.item-page nav {
  display: inline-block;
  float: left;
}

nav.sidebar-nav>a {
  display: block;
}

/* FOOTER */

footer nav {
  display: inline-block;
  float: left;
}

.copywrite {
  float: right;
}
