/* for debugging */
* {
  /*border: 1px solid red; */
}

/* GENERAL STYLES */

body {
  margin: 0;
  padding: 0;
  background-color: #f5f2f0;
  font-family: 'Open Sans', sans-serif;
  font-size: .8em;
}

.offset {  /* class for text meant only for accessibility devices */
  position: absolute;
  top: -1000px;
}

.wrapper {
  width: 80%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 50px;
  background-color: #fff;
  box-shadow: 0 0 15px #CACACA;
}

/* HEADER */

nav {
  padding: 0;
}

nav.top-nav {
  margin: 30px auto;
  background-color: #4f4f4f;
  text-shadow: 1px 1px black;
}

nav.top-nav>a {
  display: inline-block;
  padding: 10px 40px;
  border: 1px solid #4f4f4f;
  color: #C7C7C7;
  font-size: 1.1em;
  text-decoration: none;
}

.top-nav > a:hover {
  border-left: 1px solid #717171;
  border-right: 1px solid #717171;
  background-color: #373737;
}

/* MAIN AREA */

.item-page nav {
  display: inline-block;
  float: left;
}

nav.sidebar-nav>a {
  display: block;
}

/* FOOTER */

footer nav {
  display: inline-block;
  float: left;
}

.copywrite {
  float: right;
}
